.container {
  margin-top: 15px;
  background-color: rgba(35, 36, 40, 0.8);
  height: 110%;
  width: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.inContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.rightContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftContainer {

    justify-content: center;
    align-items: center;
}

.searchCamp {
  margin: 1px;
  float: center;
  height: 90%;
}

.textName {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #232428;
  font-family: 'Arial Narrow';
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  margin: 15px;
  text-align: center;
  background-color: rgb(228, 175, 28);
  width: 50%;
  height: 70px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textStatus {
  color: white;
  font-family: 'Arial Narrow';
  font-size: 25px;
  font-weight: bold;
  padding: 1%;
  text-align: center;
  background-color: #2b2d31;
  align-items: center;
  justify-content: center;
  margin: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnSearch {
  margin: 20px;
  float: right;
  background: #2b2d31;
  color: white;
  border: 1px solid transparent;
  transition: background-color 0.2s;
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnSearch:hover {
  background-color: rgb(228, 175, 28);
  transition: background-color 0.4s;
}

.btnSearch:active {
  background-color: rgb(140, 109, 25);
}
